  <ul class="social small-block-grid-5 medium-block-grid-1">
    <li><a href="mailto:{{ site.email_address }}"><img src="{{root_url}}/images/email-circle.png"/></a>
    <li><a href="http://www.twitter.com/{{ site.twitter_user }}" target="_blank"><img src="{{root_url}}/images/twitter.png"/></a>
    <li><a href="http://www.github.com/{{ site.github_user }}" target="_blank"><img src="{{root_url}}/images/github.png"/></a>
    <li><a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank"><img src="{{root_url}}/images/googleplus.png"/></a>
    <li><a href="http://www.linkedin.com/in/{{ site.linkedin_user}}" target="_blank"><img src="{{root_url}}/images/linkedin.png"/></a>
  </ul>