<ul class="left">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li class="has-dropdown">
    <a href="{{ root_url }}/blog/index.html">Blog</a>
    <ul class="dropdown">
      <li class="show-for-small-only"><a href="{{root_url}}/blog/index.html">Blog Home</a></li>
      <li class="has-dropdown">
        <a href="#">Recent Posts</a>
        <ul class="dropdown">
          {% for post in site.posts limit: site.recent_posts %}
          <li class="post">
            <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{{ root_url }}/blog/archives">Blog Archive</a></li>
    </ul>
  </li>
</ul>